.form {
  max-width: 30em;
  margin: 0 auto;
  padding: $space-md;
  background-color: white;
  box-shadow: 0 1px 2px rgba($grey, 0.5);
  @media (min-width: 40em) {
    padding: $space-lg;
  }
  & > * + * {
    margin-top: $space-md;
  }
  &__input,
  &__label {
    display: block;
    width: 100%;
  }
  &__group {
    display: flex;
    & > *:last-child {
      margin-left: $space-md;
    }
  }
  &__label {
    font-size: 0.8em;
    &--btn {
      padding: $space-sm $space-md;
      font-size: 1em;
      text-align: center;
      color: $white;
      background-color: $secondary;
      transform: translateY(-1px);
      transition: background-color 0.2s;
      box-shadow: 0 2px 3px rgba($grey, 0.5);
      &:hover {
        background-color: darken($secondary, 8%);
      }
    }
  }
  &__input {
    margin-top: 0;
    padding: $space-sm 0;
    background-color: white;
    border: none;
    border-bottom: 1px solid $light-grey;
    transition: border-color 0.2s;
    &::placeholder {
      color: $light-grey;
    }
    &:focus {
      outline: none;
      border-color: $primary;
    }
    &--radio {
      display: none;
      &:checked + .form__label--btn {
        background-color: $primary;
        transform: translateY(0);
        box-shadow: none;
      }
    }
  }
}
