<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blackboard</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <header class="header">
    <div class="header__brand">
      <span>Blackboard</span>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item">
          <a class="header__link" href="/about">About</a>
        </li>
        <li class="header__list-item">
          <a class="header__link" href="/lifters">All lifters</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
